@import "../../theme/colors.module.scss";

.menu-container{
    display: flex;
    flex-direction: row;
    background-color: #ccc;
    background-color: white;
    border-radius: 24px;
    padding: 2rem 2.5rem;
    width: fit-content;
    float: right;
    gap: 20px;
    border: 1px solid grey;
    color: $normal-font;

    svg{
        font-size: 20px;
        margin-bottom: 4px;
    }
}